header {
      font-family: "Shrikhand", cursive;
      text-align: center;
      box-shadow: 0 3px 3px 1px #D0D0D0;
      position: relative; 

      & h1 {
        margin: 0;
        padding: 1rem;
      }
  }
  