.header__pages {
    box-shadow: none;
    position: relative;
    
    & h1 {
        margin: 0;
        padding: 1rem;
    }
}


    .header__arrow {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 25px;
        left: 2rem;
        color: $black-color;
    }



.banner img {
    display: block;
    border-radius: 0;
    height: 40vh;
    @media (min-width: 1024px) {
        width: 100%;
        height: 60vh;
    }
}
.resto__title {
    position: relative;
    background-color: $secondary-bg-color;
    margin-top: -3rem;
    border-radius: 2rem 2rem 0 0;
    

h2 {  
    
    position: relative;
    font-family: "Shrikhand", sans-serif;
    font-weight: 400;
    padding: 2rem 1rem;
    margin-bottom: 0;


    &::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f004";
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        
        color: inherit; 
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 1;
        transition: 300ms;
        
      }


      &::after {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f004";
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        
        color: inherit; 
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 1;
        transition: 300ms;


        background-image: linear-gradient( $primary-color, $secondary-color);

        color: transparent;
        font-weight: 900;
        opacity: 0;
      }

        &:hover::after {
          opacity: 1;
        }


}


}

.pages__main {
    background-color: $secondary-bg-color;
}



.submenus {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    animation: appear 1s;
    animation-fill-mode: forwards;

   

    
    
    & h3 {
        text-transform: uppercase;
        font-weight: 300;
        position: relative;
        &::after {
            content: "";
            height: 0.25rem;
            width: 2.9rem;
            background-color: $tertiary-color;
            position: absolute;
            top: 1.5rem;
            left: 0;
            
        }

    }
    
    .submenus__category {
        
        background-color: $white-color;
        border-radius: 1rem;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.225);
        
        
       
        
        
        
        .submenus__items {
            display: flex;   
            border-radius: 1rem;
            overflow: hidden;
           
            
            
            & h4, p {
                margin: 0;
            }
            .submenus__description {
                padding: 1rem;
                
            }

            .submenus__price {
                display: flex;
                align-items: flex-end;
                margin-left: auto; 
                font-weight: 700;
                padding: 1rem;
                
           }


           .submenus__check{
            background-color: $tertiary-color;
            margin-right: -4rem;
            width: 4rem;
            transition: margin-right  0.5s;
            display: grid;
            place-items: center;
            i {
                display: grid;
                place-items: center;
                background: $white-color;
                width: 2rem;
                border-radius: 1rem;
                aspect-ratio: 1;
                color: $tertiary-color;
                font-weight: 900;

            }
            
            
           }

           &:hover .submenus__check {
            margin-right: 0;
           }
        }
    }
}



.delay-0 {
    animation-delay: 0s;
}

.delay-1 {
    animation-delay: 0.5s;
}

.delay-2 {
    animation-delay: 1s;
}



.button__commander {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button__gradient {
        margin: 2rem;
        padding: 1rem 3rem;

    }

    &:hover {
        transform: scale(1.02);
        opacity: 0.8;
        cursor: pointer;
      }
}

