.city {
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: $main-bg-color;
    padding: 0.5rem;
    color: $gray-color;
    & i {
      font-size: 1.5rem;
    }
    & h2 {
      font-size: 19px;
      font-weight: 500;
    }
  }